.operating-room-modal {
    top: 0
}

.operating-room-modal {
    .ant-modal-content {
        .ant-modal-body {
            height: 100vh;
        }
    }
}

.ant-modal-confirm-btns {
    button {
        display: none;
    }
}